@{
    ViewData["Title"] = "Post Notify";
}


<form asp-action="PostNotify" asp-controller="LineNotify" method="post">
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" name="message" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>